@import "components/unlock-form.css";

/* Reset */
html {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    cursor: default;
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

input, textarea, select, button, img {
    -webkit-user-drag: none;
}
input:focus, textarea:focus, select:focus, button:focus {
    outline: 0;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}


/* Classes for allowing website-like functionality */
.draggable {
    -webkit-app-region: drag;
}

.selectable {
    -webkit-user-select: auto;
    cursor: auto;
}


body {
    background-color: #fff;
    height: 100vh;
}


/* Sits in front of the page */
.overlay-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff7;
}
