# Normalize line endings
* text=auto

# Repo settings files
.git*    text
.npm*    text

# Documentation
*.md     text
LICENSE  text

# Source files
*.css    text
*.html   text
*.js     text
*.json   text

# Lock files
*.lock             -diff
package-lock.json  -diff
