#login-form {
    border-radius: 3px;
    padding: 10px;
    background: #f4f4f4;
    border: 1px solid black;
}
#login-form label {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
#login-form input {
    border: 1px solid transparent;
    border-right: none;
    font-size: 14pt;
    text-align: center;
}
#login-input {
    padding: 10px 20px;
    background: #fff;
    border-color: gray !important;
}
#login-input:focus {
    border-color: dodgerblue !important;
}
#login-submit {
    padding: 10px 0;
    width: 80px;
    background: dodgerblue;
    cursor: pointer;
}
#login-submit:disabled {
    background: gray;
    cursor: default;
}
